.filterCategory {
  margin-top: 30px;
  .row {
    background-color: #ffffff;
  }
  .adaptive-filter-buttons {
    @media #{$small-only} {
      display: flex;
      flex-direction: column;
    }
  }
  .gallery-title {
    font-family: $fontFamily;
    color: #000000;
    text-align: center;
    margin-bottom: 25px;
    span {
      font-family: $fontFamilyDop2;
      //   font-size: larger;
    }
  }
  .gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
  }
  .filter-button {
    font-size: 18px;
    // border: 1px solid #2400004e;
    border-radius: 5px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
    @media #{$small-only} {
      margin-bottom: 0;
    }
  }
  .filter-button:hover {
    font-size: 18px;
    border: 1px solid #909090c6;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #949494;
  }
  .btn-default:active .filter-button:active {
    background-color: #23000056;
    color: white;
  }

  .port-image {
    width: 100%;
  }

  .gallery_product {
    position: relative;
    height: auto;
    margin-bottom: 15px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }

    @media #{$large} {
      width: 16.66666%; /* 6 карточек в ряд */
    }
    @media #{$medium-only} {
      width: 25%; /* 4 карточки в ряду */
    }
    @media #{$small-only} {
      width: 40%; /* 2 карточки в ряд */
    }
  }

  .img-responsive {
    -webkit-box-shadow: 0px 0px 3px 2px rgba(48, 0, 4, 0.75);
    -moz-box-shadow: 0px 0px 3px 2px rgba(48, 0, 4, 0.75);
    box-shadow: 0px 0px 3px 2px rgba(48, 0, 4, 0.75);
    height: auto;
  }

  .text-name-color {
    font-family: $fontFamily;

    color: #fff;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn-center {
    display: flex;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  // Доп классы для js

  .hiddenes {
    display: none;
  }

  // загрузить еще
  #toggle-button,
  #toggle-button1 {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #button-text,
  #button-text1 {
    font-family: $fontFamily;
    font-size: 0.7rem;
    opacity: 0.6;
  }

  .arrowLine svg {
    transition: transform 0.5s ease;
  }

  .arrowLine,
  .arrowLine1 {
    opacity: 0.4;
    stroke-dasharray: 22;
    stroke: black;
    stroke-width: 2;
    stroke-linecap: round;
    animation: pulse-down 1s infinite;
  }

  /* Скрытие элемента */
  .hidden {
    // display: none;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s, max-height 0.5s;
    overflow: hidden;
  }

  /* Отображение элемента */
  .visible {
    // display: block;
    opacity: 1;
    max-height: 1000px; /* Значение max-height должно быть достаточным для показа содержимого */
    transition: opacity 0.5s, max-height 0.5s;
  }

  .line {
    transition: transform 0.3s ease;
  }

  /* Пульсирующая анимация вниз для стрелки */

  .arrow-up {
    transform: scaleY(-1); /* Переворачивает стрелку вверх */
  }
  .arrow-up .line {
    transform: rotate(180deg);
  }

  .pulse-down {
    animation: pulse-down 1s infinite;
  }

  .pulse-up {
    animation: pulse-up 1s infinite;
  }

  @keyframes pulse-down {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(5px);
    }
  }

  /* Пульсирующая анимация вверх для стрелки */
  @keyframes pulse-up {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }

  // аниация появления при нажатии
  @keyframes slideInFromRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .gallery_product .visible {
    opacity: 0; /* Исходное состояние: скрыто */
    transform: translateX(100%);
    /* Применяем анимацию с продолжительностью 0.5с и линейной функцией времени */
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    /* animation-delay будет установлен динамически с помощью JavaScript */
  }
}
