@font-face {
  font-family: "mr_HamiltoneG";
  src: url("../fonts/mr_hamiltoneg.woff2") format("woff2"),
    url("../fonts/mr_hamiltoneg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
