.colon {
  margin-top: 15px;
}

.widget-title {
  font-family: $fontFamilyDop;
}

.widget a {
  font-family: $fontFamily;
}

address {
  font-family: $fontFamily;
  font-weight: 300;
  font-size: 0.7rem;
}

.widget a:hover {
  color: #170000 !important;
}

.copyright {
  font-family: $fontFamily;
  font-size: small;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-logo {
  @media (max-width: $mobil) {
  }
}

.logo-footer {
  @media (max-width: $mobil) {
    width: 40vh;
  }
}
