.footer {
  @media #{$medium-only} {
    margin-top: 3rem;
  }
  @media #{$small-only} {
    margin-top: 3rem;
  }
}
.colon {
  margin-top: 15px;
  @media #{$small-only} {
    padding-left: 2.5rem;
    margin-top: 0;
  }
  @media #{$small} {
    padding-left: 2rem;
    margin-top: 0;
  }
}

.widget-title {
  font-family: $fontFamilyDop;
}

.widget a {
  font-family: $fontFamily;
}

address {
  font-family: $fontFamily;
  font-weight: 300;
  font-size: 0.7rem;
}

.widget a:hover {
  color: #170000 !important;
}

.copyright {
  font-family: $fontFamily;
  font-size: small;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-logo {
}

.widget-logo-footer {
  @media #{$small-only} {
    display: flex;
    justify-content: center;
  }
  @media #{$small} {
    display: flex;
    justify-content: center;
  }
}

.logo-footer {
  @media #{$small-only} {
    width: 20vh;
  }
  @media #{$small} {
    width: 15vh;
  }
}

footer {
  .mobil-widget {
    @media #{$small-only} {
      margin-top: 2rem;
    }
  }

  .mobil-list-unstyled {
    @media #{$small-only} {
      margin-bottom: 0.5rem;
    }
  }

  .dop-mobil-adaptive {
    padding-top: 0 !important;
  }
}
