.intro {
  margin-top: 10px;
}

.tree-svg {
  display: flex;
  justify-content: center;

  svg {
    @media #{$small-only} {
      width: 20px;
    }
  }
}

.intro-text {
  display: flex;
  justify-content: center;
  font-family: $fontFamilyDop;
  font-weight: 300;
  text-transform: uppercase;

  @media #{$small} {
    text-align: center;
  }
}
