.mapYandex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 15px;

  @media #{$small-only} {
    margin-top: 2rem;
    flex-flow: column;
    height: 47vh;
  }
  @media #{$small} {
    flex-flow: column;
    height: 45vh;
  }
}

.mapYandex iframe {
  // -webkit-box-shadow: -14px 21px 66px 7px rgba(48, 0, 4, 0.55);
  // -moz-box-shadow: -14px 21px 66px 7px rgba(48, 0, 4, 0.55);
  // box-shadow: -14px 21px 66px 7px rgba(48, 0, 4, 0.55);
  // border-radius: 30px;
}

.mapYandex .map {
  width: 50%;
  height: 350px;
  -webkit-box-shadow: 18px 14px 27px -18px rgba(48, 0, 4, 0.75);
  -moz-box-shadow: 18px 14px 27px -18px rgba(48, 0, 4, 0.75);
  box-shadow: 18px 14px 27px -18px rgba(48, 0, 4, 0.75);
  border-radius: 30px;

  @media #{$small-only} {
    width: 100%;
    height: 100%;
  }
  @media #{$small} {
    width: 100%;
    height: 100%;
  }

  .mapMap {
    height: 100%;
  }
}

.locahion-container {
  height: 100%;
  position: relative;

  @media #{$small-only} {
    margin-top: 2rem;
  }
  .sticker {
    max-width: 420px;
    height: auto;
    @media #{$medium-only} {
    }
    @media #{$small-only} {
      position: absolute;
      top: 0rem;
      left: auto;
      right: 0;
      width: 100%;
    }
    @media #{$small} {
      position: absolute;
      top: 0rem;
      left: auto;
      right: 0;
      width: 100%;
    }
  }
}

.locahion-text {
  margin-left: 1rem;
  height: 150px;
  max-width: 600px;
  border: 5px solid #fff;
  border-radius: 20px;
  padding: 10px;
  .h3 {
    font-family: $fontFamilyDop;
    font-weight: 300;
  }
  .h6 {
    font-family: $fontFamily;
    font-weight: 300;
  }
  @media #{$small-only} {
    position: relative;
    z-index: 3;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
  }
  @media #{$small} {
    position: relative;
    z-index: 3;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    height: 200px;
  }
}
