.menuNav {
  .navbar {
    position: fixed;
    z-index: 15;
    // height: 50px;
    width: 100%;
    height: auto;
    align-items: baseline;

    background: rgb(11, 0, 0);
    background: -moz-linear-gradient(
      180deg,
      rgba(11, 0, 0, 0.5368522408963585) 0%,
      rgba(51, 1, 1, 0) 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(11, 0, 0, 0.5368522408963585) 0%,
      rgba(51, 1, 1, 0) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(11, 0, 0, 0.5368522408963585) 0%,
      rgba(51, 1, 1, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b0000",endColorstr="#330101",GradientType=1);

    @media (max-width: 990px) {
      flex-wrap: nowrap;
    }

    img,
    svg {
      vertical-align: top;
    }
  }

  .offcanvas {
    width: 100%;
  }

  .menu-nav {
    display: flex;
    justify-content: right;
  }

  .nav-item {
    margin-right: 15px;
    font-size: 14px;
    font-weight: 500;
    &:last-child {
      margin-right: 0;
    }
    @media #{$small-only} {
      width: 250px;
    }
  }

  .menu-hover {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      display: block;
      width: 0;
      transition: 0.3s;
      height: 1px;
      background: #000;
    }
    &:hover::before {
      width: 100%;
    }
  }

  .navbar-brand {
    -webkit-text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
    -moz-text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
    color: #fff;
    font-family: $fontFamily;
  }

  .navbar-brand:hover,
  .navbar-brand:focus {
    color: antiquewhite;
  }
  .nav-link {
    font-family: $fontFamily;
    color: #fff;
    -webkit-text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
    -moz-text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
  }

  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    color: antiquewhite;
    -webkit-text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
    -moz-text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: antiquewhite;
  }

  .dropdown-menu {
    background-color: #fff;
    justify-content: center;
    animation: myAnimMore 0.6s ease 0s 1 normal;
  }

  .dropdown-item {
    font-size: 14px;
  }

  .dropdown-item:active {
    background-color: #1a0000;
  }

  // buger

  .menu-burger {
    --w: 20px;
    --s: 20px; /* control the size */
    --c: rgb(255, 255, 255); /* the color */
    width: var(--w);
    height: var(--s);
    aspect-ratio: 1;
    border: none;
    padding: 0;
    border-inline: calc(var(--s) / 2) solid #0000;
    box-sizing: content-box;
    --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat
      content-box border-box;
    --_g2: radial-gradient(
        circle closest-side at 50% 12.5%,
        var(--c) 95%,
        #0000
      )
      repeat-y content-box border-box;
    background: var(--_g2) left var(--_p, 0px) top,
      var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
      var(--_g2) right var(--_p, 0px) top,
      var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
    background-size: 20% 80%, 40% 100%;
    position: relative;
    clip-path: inset(0 25%);
    -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
    cursor: pointer;
    transition: background-position 0.3s var(--_s, 0.3s),
      clip-path 0s var(--_s, 0.6s);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .menu-burger:before,
  .menu-burger:after {
    content: "";
    position: absolute;
    border-radius: var(--s);
    inset: 40% 0;
    background: var(--c);
    transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
  }

  .menu-burger:checked {
    clip-path: inset(0);
    --_p: calc(-1 * var(--s));
    --_s: 0s;
  }
  .menu-burger:checked:before {
    transform: rotate(45deg);
  }
  .menu-burger:checked:after {
    transform: rotate(-45deg);
  }
  .menu-burger:focus-visible {
    clip-path: none;
    -webkit-mask: none;
    border: none;
    outline: 2px solid var(--c);
    outline-offset: 5px;
  }

  .btn-close {
    opacity: 0;
  }
}
