.accordion-collapse {
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.accordion-collapse.show {
  max-height: 130vh;
  // height: auto; /* Меняйте на фиксированное значение, если auto не работает */
  opacity: 1;
}

#flush-collapseSix .accordion-body {
  background-color: transparent !important;
}
.header-table-page .container {
  position: relative;
  z-index: 3;
}

.header-table-page .tree-svg {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.header-img-page {
  // transition: all 0.3s ease-in-out;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden; /* Убедитесь, что контент, выходящий за пределы блока, скрыт */
  width: 100%;
  z-index: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 {
  opacity: 1;
  height: 110vh;
  background-image: url("../img/tableImg/table1.jpg");
}

.img2 {
  opacity: 1;
  height: 110vh;
  background-image: url("../img/tableImg/table2.jpg");
}
.img3 {
  opacity: 1;
  height: 110vh;
  background-image: url("../img/tableImg/table3.jpg");
}
.img4 {
  opacity: 1;
  height: 110vh;
  background-image: url("../img/tableImg/table4.webp");
}
.img5 {
  opacity: 1;
  height: 125vh;
  background-image: url("../img/tableImg/table5.webp");
}
.img6 {
  opacity: 1;
  height: 125vh;
  background-image: url("../img/tableImg/table6.webp");
}
.img7 {
  opacity: 1;
  height: 110vh;
  background-image: url("../img/tableImg/table7.webp");
}

.header-table-page .intro {
  margin-top: 0;
  padding-top: 10px;
}

.table-page {
  border-radius: 20px;
  // background-color: rgba(255, 255, 255, 0.333);
  background-color: #fff;
}

.table-page .table {
  table-layout: fixed;
  font-family: $fontFamily;
}

.table-page .table thead th {
  font-family: $fontFamilyDop;
  font-weight: 400;
}

.table-page .table tbody {
  font-family: $fontFamily;
}
// .title-teble {
//   border-radius: 20px;
//   display: flex;
//   justify-content: center;
// }

.header-table-page .accordion {
  color: #fff;
  --bs-accordion-color: #fff;
}

.accordion-header-adaptive {
  display: flex;
  align-items: center;
}

.accordion-flush > .accordion-item > .accordion-header .accordion-button,
.accordion-flush
  > .accordion-item
  > .accordion-header
  .accordion-button.collapsed {
  border-top-left-radius: 20px;
}

.table-page .accordion-button {
  margin: 0;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 5px;
  // border-radius: 20px;
  display: flex;
  font-family: $fontFamily;
}

.accordion-button:not(.collapsed) {
  background-color: #ffffff;
}
.accordion button:hover::after,
.accordion button:focus::after {
  border: none;
}

.table > :not(caption) > * > * {
  color: #fff;
}

.dop-table-text {
  font-family: $fontFamily;
}

.dop-table-text-title {
  font-family: $fontFamilyDop;
  font-weight: 300;
}
